h1 {
  padding: 0px;
  margin: 0px;
  color: white; }

.heading-1 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 50px;
  color: #4A4A4A;
  padding-bottom: 30px; }

.heading-1--inverted {
  color: white; }

h2 {
  font-size: 36px; }

h3 {
  font-size: 28px;
  padding: 0px;
  margin: 0px;
  margin-bottom: 10px; }

.font__inverted {
  color: white; }

ul {
  padding: 10px;
  list-style-type: none; }

.logo__heading {
  font-family: "Brush Script MT", cursive;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500; }

.logo__heading--large {
  font-size: 160px; }
  @media screen and (max-width: 1175px) {
    .logo__heading--large {
      font-size: 135px; } }
  @media screen and (max-width: 767px) {
    .logo__heading--large {
      font-size: 100px; } }
  @media screen and (max-width: 500px) {
    .logo__heading--large {
      font-size: 70px; } }

.link {
  margin-right: 20px;
  font-size: 18px; }

.link--blue {
  color: #1380D5;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }

.section {
  background: transparent;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.section--fullscreen {
  height: 100vh; }

.section--purple {
  background: blue;
  background: -webkit-linear-gradient(left, blue, purple, red);
  background: -o-linear-gradient(left, blue, purple, red);
  background: -moz-linear-gradient(left, blue, purple, red);
  background: linear-gradient(left, blue, purple, red); }

.section--blue {
  background: #1380D5;
  background: -webkit-linear-gradient(left, #1380D5, #85D0ED);
  background: -o-linear-gradient(left, #1380D5, #85D0ED);
  background: -moz-linear-gradient(left, #1380D5, #85D0ED);
  background: linear-gradient(left, #1380D5, #85D0ED); }

@media screen and (max-width: 767px) {
  .large-only {
    visibility: hidden;
    height: 0px;
    width: 0px; } }

@media screen and (max-width: 1174px) {
  .large-only {
    visibility: hidden;
    height: 0px;
    width: 0px; } }

@media screen and (max-width: 767px) {
  .med-only {
    visibility: hidden;
    visibility: hidden;
    height: 0px;
    width: 0px; } }

@media screen and (min-width: 1175px) {
  .med-only {
    visibility: hidden;
    height: 0px;
    width: 0px; } }

@media screen and (min-width: 766px) {
  .small-only {
    visibility: hidden;
    height: 0px;
    width: 0px; } }

@media screen and (min-width: 1175px) {
  .small-only {
    visibility: hidden;
    height: 0px;
    width: 0px; } }

.align-horizontal {
  display: flex;
  align-items: center; }

.center-content--horizontal {
  display: flex;
  align-items: center;
  flex-direction: column; }

.my-columns {
  display: flex !important; }

.column_25 {
  flex-grow: 1; }

.column_75 {
  flex-grow: 3; }

.columns__1-1 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px; }
  .columns__1-1 > div {
    width: 50%; }
  @media screen and (max-width: 767px) {
    .columns__1-1 > div {
      width: 100%; } }

.columns__1-1--reverse {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  width: 100%; }
  .columns__1-1--reverse div {
    width: 50%; }
  @media screen and (max-width: 767px) {
    .columns__1-1--reverse div {
      width: 100%; } }

.tile-layout__2x2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px; }
  @media screen and (max-width: 767px) {
    .tile-layout__2x2 {
      flex-wrap: nowrap;
      flex-direction: column;
      align-itmes: stretch;
      justify-content: space-between; } }
  @media screen and (max-width: 500px) {
    .tile-layout__2x2 {
      flex-direction: row;
      overflow-x: scroll;
      padding: 0px; } }

.navbar {
  position: absolute;
  width: 100%;
  background: rgba(0, 0, 0, 0.25);
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 22px; }
  .navbar a {
    color: white !important; }

.navbar-default {
  border-width: 0px !important;
  border-color: transparent !important; }

.navbar__logo {
  height: 50px; }

.navbar-brand {
  display: flex;
  align-items: center; }
  .navbar-brand h1 {
    color: white;
    padding-left: 10px; }

.navbar-form {
  padding-left: 0px !important;
  border-color: transparent !important; }

.navbar-toggle {
  border-width: 2px;
  border-color: white !important; }
  .navbar-toggle span {
    background-color: white !important; }
  .navbar-toggle:hover {
    background-color: rgba(0, 0, 0, 0.25) !important; }

@media screen and (max-width: 767px) {
  .navbar-collapse {
    background-color: rgba(0, 0, 0, 0.75); } }

.navbar__logo-title {
  font-family: "Brush Script MT", cursive;
  font-size: 42px; }

.navbar__link {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }

.navbar__list {
  padding-top: 0px; }

.navbar__user {
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px; }
  @media screen and (max-width: 767px) {
    .navbar__user {
      margin: 0px;
      margin-top: 10px; } }

.navbar__user-font {
  color: white;
  margin: 0px;
  font-size: 16px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin-left: 5px; }
  @media screen and (max-width: 767px) {
    .navbar__user-font {
      font-size: 22px; } }

.dropdown-toggle {
  text-decoration: none !important; }

.dropdown-menu {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.25);
  margin: 0px;
  border: none;
  font-size: 16px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }
  .dropdown-menu a:hover {
    background-color: rgba(0, 0, 0, 0.5) !important; }

.dropdown-menu--icon {
  width: 50px;
  height: 20px; }

.navbar__avatar {
  width: 50px;
  height: 50px; }

.form-control {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 16px;
  border-radius: 0px;
  border-color: none;
  border-style: none;
  height: auto;
  box-shadow: none; }
  .form-control:focus, .form-control:focus {
    outline-color: #1380D5;
    outline-style: solid;
    outline-width: 2px; }

.form-control--light {
  border-width: 0 !important; }
  .form-control--light:focus, .form-control--light:focus {
    outline-width: 1px; }

.form-control--large {
  padding: 10px;
  font-size: 50px; }

.form-group--min {
  width: 300px; }

.form-control--shadow {
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5); }

.form-control--shadow-inset {
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5); }

.form__buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 10px; }

.has-error {
  color: #D51313 !important; }

.help-block--warning .has-warning {
  color: #F6E015 !important; }

.alert {
  border-radius: 0px;
  border-width: 0px;
  color: black; }

.alert-info {
  background-color: #1380D5; }

.alert-warning {
  background-color: #F6E015; }

.alert-danger {
  background-color: #D51313; }

.form-panel__heading {
  padding: 0px;
  margin-right: 0px;
  padding-bottom: 30px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 60px;
  color: #D51313; }

.form-panel__text {
  color: #D51313;
  font-size: 24px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 100; }

.form-group {
  margin: 0px !important;
  margin-bottom: 15px !important; }

.form-group--full-width {
  width: 100%; }

.form-group--navbar {
  margin: 0px !important; }

.form-group__double {
  display: flex; }

.form-group__label--disabled {
  color: #b4b4b4; }

.form__link {
  color: #1380D5;
  margin-left: 10px; }

.form__link--danger {
  color: #D51313; }

.form__feedback {
  text-align: left;
  font-size: 16px; }

.form__feedback--danger {
  color: #D51313; }

.home__logo {
  width: 150px;
  margin-left: 50px; }
  @media screen and (max-width: 1175px) {
    .home__logo {
      width: 100px; } }
  @media screen and (max-width: 767px) {
    .home__logo {
      margin-left: 25px;
      width: 100px; } }
  @media screen and (max-width: 500px) {
    .home__logo {
      width: 70px; } }

.home__banner {
  width: 200px; }
  @media screen and (max-width: 767px) {
    .home__banner {
      width: 150px; } }
  @media screen and (max-width: 500px) {
    .home__banner {
      width: 100px; } }

@media screen and (max-width: 500px) {
  .home__banner-heading {
    font-size: 60px;
    padding-left: 10px; } }

.home__login-form {
  padding-top: 30px; }

.home__login-form-fields {
  display: flex;
  align-content: space-between;
  justify-content: space-between; }
  .home__login-form-fields .form-group {
    width: 48% !important; }
    @media screen and (max-width: 767px) {
      .home__login-form-fields .form-group {
        width: 210% !important; } }
    @media screen and (max-width: 500px) {
      .home__login-form-fields .form-group {
        width: 210% !important; } }
  @media screen and (max-width: 767px) {
    .home__login-form-fields {
      flex-direction: column;
      width: 48% !important; } }

.home__login-form-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.home__image--large {
  height: 400px;
  width: 400px;
  margin: 50px; }
  @media screen and (max-width: 1175px) {
    .home__image--large {
      height: 300px;
      width: 300px;
      margin: 30px; } }
  @media screen and (max-width: 500px) {
    .home__image--large {
      height: 250px;
      width: 250px;
      margin: 30px; } }

.home__text-block {
  padding: 50px; }
  @media screen and (max-width: 500px) {
    .home__text-block {
      padding: 25px; } }

.home__section-background-image {
  position: absolute;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 40%;
  z-index: -1;
  box-shadow: inset 0px 0px 25px rgba(0, 0, 0, 0.5); }

.home__section-background {
  background: red;
  background: -webkit-linear-gradient(left, red, yellow);
  background: -o-linear-gradient(left, red, yellow);
  background: -moz-linear-gradient(left, red, yellow);
  background: linear-gradient(left, red, yellow); }

.home__video {
  width: 550px;
  height: 315px;
  margin-top: 100px;
  margin-bottom: 100px; }
  @media screen and (max-width: 1175px) {
    .home__video {
      width: 450px;
      height: 255px; } }
  @media screen and (max-width: 767px) {
    .home__video {
      margin-top: 100px;
      margin-bottom: 0px; } }
  @media screen and (max-width: 500px) {
    .home__video {
      width: 350px;
      height: 205px; } }

.home__heading {
  font-size: 38px; }
  @media screen and (max-width: 1175px) {
    .home__heading {
      font-size: 32px; } }
  @media screen and (max-width: 767px) {
    .home__heading {
      font-size: 28px; } }

.home__form-group {
  padding: 0px !important; }

.btn {
  font-size: 20px;
  border-style: none;
  border-radius: 2px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  transition: all 0.6s; }

.btn-success {
  background-color: #53B70F !important; }

.btn-info {
  background-color: #1380D5 !important;
  border-style: none; }

.btn-info--disabled {
  background-color: #85D0ED !important; }

.btn-form {
  margin-left: 20px; }

.btn-navbar {
  margin-top: 15px; }
  @media screen and (max-width: 1175px) {
    .btn-navbar {
      margin-top: 5px; } }

.btn-outline {
  border-style: solid;
  border-width: 0.5px; }

.btn-outline-info {
  border-color: #1380D5;
  color: #1380D5; }
  .btn-outline-info:hover {
    color: #1380D5; }

.btn-outline-danger {
  border-color: #D51313;
  color: #D51313; }

.blur-layer {
  position: absolute;
  right: 0px;
  top: 0px;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  -moz-filter: blur(4px);
  -webkit-filter: blur(4px); }

.window {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto; }

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto; }

.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.parallax__layer--base {
  transform: translateZ(0); }

.parallax__layer--back {
  transform: translateZ(-1px) scale(4); }

.hint--full-width {
  width: 100%; }

.hover-apear__container:hover > .hover-apear {
  opacity: 1; }

.hover-apear {
  opacity: 0;
  position: fixed; }

.hexagon-clip {
  clip-path: polygon(0 50%, 25% 0, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
  z-index: -0; }
  .hexagon-clip > img {
    width: 100%;
    height: 100%; }

.shadow {
  box-shadow: 1px 1px 25px #53B70F; }

.shadow--inset {
  box-shadow: inset 0px 0px 25px rgba(0, 0, 0, 0.5); }

footer {
  background: #4A4A4A;
  display: flex;
  justify-content: space-around;
  padding: 20px; }
  @media screen and (max-width: 500px) {
    footer {
      flex-direction: column; } }

.footer__column {
  width: 30%; }

.footer__link {
  font-size: 18px;
  color: white; }

.login__heading {
  color: white;
  padding-bottom: 15px; }

.dashboard__layout {
  display: flex; }

.dashboard__navbar {
  z-index: 999;
  height: 100vh;
  min-width: 200px; }
  @media screen and (max-width: 1175px) {
    .dashboard__navbar {
      min-width: 60px;
      max-width: 60px; }
      .dashboard__navbar > .dashboard__navbar--normal {
        display: none; } }
  @media screen and (max-width: 767px) {
    .dashboard__navbar {
      min-width: 60px;
      max-width: 60px; } }
  @media screen and (max-width: 500px) {
    .dashboard__navbar {
      position: absolute;
      right: 0px;
      width: 50px;
      height: 50px; } }

.dashboard__content {
  height: 100vh;
  width: 100%;
  overflow: scroll; }

.dashboard__element {
  padding: 50px; }
  @media screen and (max-width: 767px) {
    .dashboard__element {
      padding: 5px; } }

.dashboard__section {
  padding-bottom: 50px; }

.dashboard__element--scrollable {
  overflow: scroll;
  height: 60vh !important; }

.dashboard__navbar--normal {
  background-color: #4A4A4A;
  height: 100%;
  width: 100%; }
  @media screen and (max-width: 767px) {
    .dashboard__navbar--normal {
      display: none; } }

.dashboard__navbar--mobile {
  top: 0;
  right: 0;
  position: absolute;
  overflow: hidden;
  width: 0px;
  height: 0px;
  margin: 5px;
  transition: all 1s;
  -webkit-transition: all 1s;
  display: none; }
  @media screen and (max-width: 767px) {
    .dashboard__navbar--mobile {
      width: 50px;
      height: 50px;
      display: block; } }
  .dashboard__navbar--mobile:hover, .dashboard__navbar--mobile:active {
    margin: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 55vh; }
    .dashboard__navbar--mobile:hover > .dashboard__mobile-navbar--collapsed, .dashboard__navbar--mobile:active > .dashboard__mobile-navbar--collapsed {
      visibility: hidden; }
    .dashboard__navbar--mobile:hover > .dashboard__mobile-navbar--expanded, .dashboard__navbar--mobile:active > .dashboard__mobile-navbar--expanded {
      visibility: visible; }

.dashboard__mobile-navbar--collapsed {
  position: absolute;
  visibility: visible; }

.dashboard__mobile-navbar--expanded {
  position: relative;
  visibility: hidden;
  overflow: scroll; }

.dashboard__navbar-icon {
  width: 40px;
  height: 40px;
  margin-right: 5px; }

.dashboard__navbar-text {
  color: white;
  font-size: 20px;
  height: 28px;
  margin-left: 10px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }

.dashboard__navbar-link:hover {
  text-decoration: none;
  color: #b4b4b4; }

.dashboard__navbar-item {
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px; }

.dashboard__navbar-item--mobile {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px; }

.dashboard__navbar-item--active > .hover-apear {
  opacity: 1; }

@media screen and (max-width: 500px) {
  .dashboard__navbar-item--active {
    background: transparent; } }

.dashboard__navbar-list {
  padding: 0px;
  margin-top: 100px; }
  @media screen and (max-width: 500px) {
    .dashboard__navbar-list {
      margin-top: 50px;
      padding: 0px; } }

.dashboard__navbar-brand {
  display: flex;
  padding-left: 5px;
  padding-top: 10px;
  padding-bottom: 10px; }
  .dashboard__navbar-brand:hover {
    text-decoration: none; }

.dashboard__navbar-logo {
  width: 45px;
  height: 45px; }

.dashboard__navbar-title {
  color: white;
  font-family: "Brush Script MT", cursive;
  font-size: 42px;
  margin-left: 5px;
  vertical-align: center; }

.dashboard__content-background {
  padding: 20px;
  height: 100vh;
  width: 100%; }
  @media screen and (max-width: 500px) {
    .dashboard__content-background {
      padding: 5px; } }

.dashboard__content-background--orange {
  background: #f76c1d;
  background: -webkit-linear-gradient(left, #f76c1d, #F6E015);
  background: -o-linear-gradient(left, #f76c1d, #F6E015);
  background: -moz-linear-gradient(left, #f76c1d, #F6E015);
  background: linear-gradient(left, #f76c1d, #F6E015); }

.dashboard__content-background--purple {
  background: #3023AE;
  background: -webkit-linear-gradient(left, #3023AE, #653DBC, #C86DD7);
  background: -o-linear-gradient(left, #3023AE, #653DBC, #C86DD7);
  background: -moz-linear-gradient(left, #3023AE, #653DBC, #C86DD7);
  background: linear-gradient(left, #3023AE, #653DBC, #C86DD7); }

.dashboard__content-background--blue {
  background: #006FC6;
  background: -webkit-linear-gradient(left, #006FC6, #1380D5, #85D0ED);
  background: -o-linear-gradient(left, #006FC6, #1380D5, #85D0ED);
  background: -moz-linear-gradient(left, #006FC6, #1380D5, #85D0ED);
  background: linear-gradient(left, #006FC6, #1380D5, #85D0ED); }

.dashboard__content-background--pink {
  background: #C34FCC;
  background: -webkit-linear-gradient(left, #C34FCC, #C86DD7, #CCA5BF);
  background: -o-linear-gradient(left, #C34FCC, #C86DD7, #CCA5BF);
  background: -moz-linear-gradient(left, #C34FCC, #C86DD7, #CCA5BF);
  background: linear-gradient(left, #C34FCC, #C86DD7, #CCA5BF); }

.dashboard__list-wrapper {
  padding: 10px;
  width: 50%; }
  @media screen and (max-width: 767px) {
    .dashboard__list-wrapper {
      width: unset; } }
  @media screen and (max-width: 500px) {
    .dashboard__list-wrapper {
      padding: 5px; } }

.dashboard__list {
  display: flex;
  allign-itms: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 250px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 0px;
  padding: 15px; }
  @media screen and (max-width: 500px) {
    .dashboard__list {
      width: 90vw;
      height: 90%; } }

.dashboard__list--empty {
  align-items: center;
  justify-content: center;
  flex-flow: column; }

.list-entry__tag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  margin: 5px;
  margin-bottom: 15px;
  font-size: 20px; }
  @media screen and (max-width: 500px) {
    .list-entry__tag {
      height: 50px;
      width: 50px; } }

.list-entry__empty {
  width: 300px;
  text-align: center; }
  .list-entry__empty > p {
    margin-bottom: 30px;
    font-size: 36px;
    color: #b4b4b4; }
  @media screen and (max-width: 767px) {
    .list-entry__empty > p {
      margin-bottom: 30px;
      font-size: 24px;
      color: #b4b4b4; } }

.list-entry__image--small {
  width: 50px;
  height: 50px; }
  @media screen and (max-width: 500px) {
    .list-entry__image--small {
      width: 30px;
      height: 30px; } }

.tag-overview__panel {
  padding: 20px; }
  @media screen and (max-width: 500px) {
    .tag-overview__panel {
      padding: 5px; } }

.tag-overview__list-item {
  display: flex;
  height: 70px; }
  @media screen and (max-width: 500px) {
    .tag-overview__list-item {
      height: 50px; } }

.tag-overview__info {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 80%; }

.tag-overview__list-item--normal {
  background: #006FC6;
  background: -webkit-linear-gradient(left, #006FC6, #1380D5, #85D0ED);
  background: -o-linear-gradient(left, #006FC6, #1380D5, #85D0ED);
  background: -moz-linear-gradient(left, #006FC6, #1380D5, #85D0ED);
  background: linear-gradient(left, #006FC6, #1380D5, #85D0ED); }

.tag-overview__list-item--alert {
  background: #D51313;
  background: -webkit-linear-gradient(left, #D51313, #F99D3C, #F6E015);
  background: -o-linear-gradient(left, #D51313, #F99D3C, #F6E015);
  background: -moz-linear-gradient(left, #D51313, #F99D3C, #F6E015);
  background: linear-gradient(left, #D51313, #F99D3C, #F6E015); }

.tag-overview__icon {
  width: 60px;
  height: 60px; }
  @media screen and (max-width: 500px) {
    .tag-overview__icon {
      width: 40px;
      height: 40px; } }

.tag-overview__list-label {
  font-color: white;
  color: white;
  font-size: 30px;
  margin-left: 10px; }
  @media screen and (max-width: 500px) {
    .tag-overview__list-label {
      font-size: 22px;
      margin-left: 10px;
      width: 40%; } }

.tag-overview__status {
  font-color: white;
  color: white;
  font-size: 18px;
  margin-left: 30px; }
  @media screen and (max-width: 500px) {
    .tag-overview__status {
      margin-left: 00px;
      font-size: 12px;
      height: 100%; }
      .tag-overview__status p {
        font-size: 12px; } }

.tag-overview__associate {
  width: 15px;
  width: 15px; }

.tag-overview__state {
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  font-color: white;
  color: white;
  font-size: 24px;
  height: 100%;
  width: 20%;
  text-align: center;
  vertical-align: center;
  box-shadow: inset 5px 0 5px rgba(0, 0, 0, 0.5); }
  @media screen and (max-width: 500px) {
    .tag-overview__state {
      min-height: 50%;
      font-size: 12px; } }

.tag-overview__state--active {
  background-color: #53B70F; }

.tag-overview__state--disabled {
  background-color: #D51313; }

.tag-overview__section {
  margin-bottom: 100px; }
  @media screen and (max-width: 1175px) {
    .tag-overview__section {
      margin-bottom: 35px; } }

.tag-overview__section-heading {
  padding-top: 0px;
  margin: 5px; }

.tag-overview__add-entry {
  display: flex;
  justify-content: center;
  padding: 20px;
  width: 100%; }

.tag-overview__filter-container {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  flex-direction: row-reverse;
  margin-top: 20px;
  margin-bottom: 20px; }
  .tag-overview__filter-container > input {
    box-shadow: inset 0px 0px 0px transparent; }
  @media screen and (max-width: 500px) {
    .tag-overview__filter-container {
      margin-top: 20px;
      margin-bottom: 10px; } }

.notifications__panel {
  padding: 20px;
  height: 600px; }
  @media screen and (max-width: 500px) {
    .notifications__panel {
      max-height: 100vh;
      padding: 5px; } }

.notifications__heading {
  font-color: black;
  color: black;
  font-size: 42px; }

.notifications__table-header {
  border-style: none;
  border-bottom-width: 0px !important; }

.notifications__table {
  margin-top: 50px;
  max-height: 100%; }
  .notifications__table thead {
    background: #1380D5;
    color: white; }
  @media screen and (max-width: 500px) {
    .notifications__table {
      margin-top: 00px; } }

.notifications__table-wrapper {
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5); }
  @media screen and (max-width: 500px) {
    .notifications__table-wrapper {
      margin-top: 30px;
      overflow: scroll;
      max-height: 80vh; } }

.notifications__row--new {
  font-weight: 700 !important; }

.settings__panel {
  padding: 20px;
  overflow: scroll;
  height: 100%; }

.settings__section {
  display: flex;
  flex-direction: row;
  margin-bottom: 100px; }
  @media screen and (max-width: 500px) {
    .settings__section {
      flex-flow: column; } }

@media screen and (max-width: 500px) {
  .settings__section--first {
    flex-flow: row; } }

.settings__section-title {
  width: 30%;
  display: flex;
  flex-flow: column;
  align-items: center; }
  @media screen and (max-width: 500px) {
    .settings__section-title {
      width: 100%;
      align-items: flex-start; } }

@media screen and (max-width: 500px) {
  .settings__section-title--first {
    width: 40%; } }

.settings__section-content {
  width: 70%;
  padding-left: 30px; }
  .settings__section-content p {
    font-size: 16px; }
  @media screen and (max-width: 500px) {
    .settings__section-content {
      margin-top: 20px;
      padding: 5px; } }

.settings__heading {
  font-color: black;
  color: black;
  font-size: 60px;
  margin-bottom: 20px; }
  @media screen and (max-width: 500px) {
    .settings__heading {
      font-size: 32px; } }

.settings__heading-2 {
  padding: 0px;
  margin: 0px; }

.btn-settings {
  margin-top: 100px;
  padding-left: 30px;
  padding-right: 30px; }

.dashboard-navbar__container {
  display: flex;
  height: 100vh; }

.dashboard-navbar__color-indicator {
  display: static;
  height: 100vh;
  min-width: 5px;
  background: #85D0ED;
  background: -webkit-linear-gradient(left, #85D0ED, white);
  background: -o-linear-gradient(left, #85D0ED, white);
  background: -moz-linear-gradient(left, #85D0ED, white);
  background: linear-gradient(left, #85D0ED, white);
  opacity: 1.00; }

.avatar {
  clip-path: polygon(0 50%, 25% 0, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
  overflow: hidden;
  z-index: -0; }
  .avatar > img {
    width: 100%;
    height: 100%; }

.avatar--small {
  height: 45px;
  width: 47px; }

.avatar--medium {
  height: 75px;
  width: 75px; }

.avatar--large {
  width: 160px;
  height: 150px; }
  @media screen and (max-width: 500px) {
    .avatar--large {
      width: 120px;
      height: 110px; } }

.avatar__border {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  clip-path: polygon(0 50%, 25% 0, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
  background: white; }

.avatar__border--blue {
  background: #1380D5; }

.avatar__border--large {
  width: 169px;
  height: 157px; }

.table {
  display: table !important; }

.table-striped--dark > tbody > tr:nth-of-type(even) {
  background-color: #b4b4b4; }

.table-striped--dark > tbody > tr:nth-of-type(odd) {
  background-color: #676767; }

.table__actions {
  display: flex;
  justify-content: flex-end; }

.table__filter {
  margin: 0px;
  width: 200px;
  border-style: solid !important;
  border-width: 0.5px !important;
  border-color: #b4b4b4;
  margin-bottom: 10px; }
  @media screen and (max-width: 767px) {
    .table__filter {
      display: none; } }

.table__head {
  padding-bottom: 20px !important; }

.table__head--dark {
  background-color: #676767; }

.table__heading {
  font-size: 30px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-color: #4A4A4A; }

.table__header {
  color: #b4b4b4;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
  font-size: 20px;
  border-width: 0px !important;
  padding: 8px;
  padding-bottom: 30px; }
  @media screen and (max-width: 767px) {
    .table__header {
      font-size: 16px; } }

.table__header--dark {
  color: #4A4A4A !important; }

.table__header--hidden {
  padding: 0px;
  margin: -8px;
  width: 1px; }

.table__row {
  padding-top: 30px !important;
  max-height: 60px;
  min-height: 60px;
  height: 60px; }
  .table__row:hover {
    background-color: #CFDDE8 !important; }

.table__row--dark:hover {
  background-color: red !important; }

.table__cell {
  display: table-cell;
  max-height: 60px !important;
  min-height: 60px !important;
  height: 60px !important;
  border-width: 0px !important;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 20px; }
  @media screen and (max-width: 767px) {
    .table__cell {
      font-size: 16px; } }

.table__cell--hidden {
  width: 10px;
  padding: 0px;
  color: pink !important; }

.table__cell--empty {
  padding-top: 10px;
  text-align: center; }

.table__cell-text {
  display: flex;
  height: 100%;
  align-items: center; }

.table__cell--center {
  display: flex;
  min-height: 100%;
  justify-content: center;
  align-items: center; }

.table__cell-text--small {
  font-size: 16px; }
  @media screen and (max-width: 767px) {
    .table__cell-text--small {
      font-size: 16px; } }

.table__cell-text--placeholder {
  color: #b4b4b4;
  font-size: 24px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  padding-bottom: 20px; }

.table__icon {
  width: 50px;
  height: 50px; }
  @media screen and (max-width: 767px) {
    .table__icon {
      width: 30px;
      height: 30px; } }

.table__icon--small {
  width: 30px;
  height: 30px; }
  @media screen and (max-width: 767px) {
    .table__icon--small {
      width: 20px;
      height: 20px; } }

.table__icon--hexagon {
  clip-path: polygon(0 50%, 25% 0, 75% 0%, 100% 50%, 75% 100%, 25% 100%); }

.table__content--center {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center; }

.progress {
  display: flex;
  align-items: center;
  width: 150px;
  box-shadow: unset;
  background-color: transparent !important; }

.progress--red {
  background-color: #D51313; }

.progress-bar {
  box-shadow: unset;
  height: 2.5px; }

.progress-bar-info {
  background-color: #1380D5; }

.progress-bar-danger {
  background-color: #D51313; }

.progress-bar-disabled {
  background-color: #676767; }

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  transition: opacity .3s ease;
  overflow: scroll;
  padding-top: 50px; }

.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0px auto;
  background-color: white;
  border-radius: 2px;
  transition: all .3s ease;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  overflow: scroll; }

.modal-container--large {
  width: 90vw;
  height: 90vh; }

.modal-container--small {
  width: 60vw;
  height: 350px; }

.modal__body {
  padding: 20px 30px;
  margin: 20px 0; }

.modal__section {
  margin-bottom: 90px; }

.modal__footer {
  padding: 20px;
  text-align: right; }

.modal__title {
  font-size: 38px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: right !important;
  border-style: none;
  padding-right: 10px;
  height: 50px; }

.modal-default-button {
  float: right; }

.modal-enter {
  opacity: 0; }

.modal-leave-active {
  opacity: 0; }

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1); }

.collapse_section {
  overflow: hidden; }

.collapse_section__indicator {
  padding: 10px; }

.collapse_section__content {
  padding: 20px;
  background: #4A4A4A;
  box-shadow: inset 0px 0px 25px rgba(0, 0, 0, 0.5);
  transition: all 0.6s;
  max-height: 600px;
  overflow: scroll; }

.collapse_section__content--collapsed {
  height: 100px; }

.collapsed {
  height: auto;
  max-height: 0px;
  padding-top: 0px;
  padding-bottom: 0px; }

.map {
  height: 40vh !important;
  width: 100%;
  overflow: hidden !important;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5); }

.map--shawod {
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5); }

.map--small {
  display: block;
  height: 450px !important; }

.map__marker--hover {
  width: 100px;
  background-color: pink; }

.map__no-data {
  display: flex;
  background-color: #676767;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #4A4A4A; }

.leaflet-marker-icon {
  width: 35px;
  height: 35px;
  clip-path: polygon(0 50%, 25% 0, 75% 0%, 100% 50%, 75% 100%, 25% 100%); }

.content-panel {
  background: rgba(0, 0, 0, 0.5);
  padding: 50px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
  width: 700px;
  min-height: 400px; }
  @media screen and (max-width: 1175px) {
    .content-panel {
      padding: 40px;
      width: 600px; } }
  @media screen and (max-width: 767px) {
    .content-panel {
      padding: 75px;
      padding-top: 25px;
      padding-bottom: 25px;
      width: 500px; } }
  @media screen and (max-width: 500px) {
    .content-panel {
      padding: 25px;
      padding-top: 25px;
      padding-bottom: 25px;
      width: 300px;
      height: 300px; } }

.content-panel__header--center {
  display: flex;
  align-items: center; }

.content-panel__text {
  color: white;
  font-size: 20px;
  padding-bottom: 10px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 100; }

.content-panel__text {
  font-size: 24px; }

input:focus, input:focus {
  outline-color: #1380D5;
  outline-style: solid;
  outline-width: 2px; }

.slider {
  -webkit-appearance: none;
  background-color: #676767;
  height: 1px;
  margin-top: 7px;
  margin-bottom: 7px; }
  .slider:focus, .slider:focus {
    outline: none; }

.slider__container {
  width: 100%; }

.slider__ticks {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 1px;
  padding-left: 7px;
  padding-right: 7px; }

.slider__tick {
  height: 7px;
  width: 1px;
  background-color: #676767; }

.slider__tick--large {
  height: 15px; }

.slider__tick-labels {
  display: flex;
  justify-content: space-between;
  margin-top: 10px; }
  .slider__tick-labels :first-child {
    text-align: left;
    width: 25px; }
  .slider__tick-labels :last-child {
    text-align: right;
    width: 25px; }

.slider__tick-label {
  position: static;
  width: 45px;
  text-align: center;
  align-self: flex-start; }

.hud {
  position: absolute;
  z-index: 401;
  display: flex;
  width: 90%;
  background: rgba(255, 255, 255, 0.75); }
  .hud > img, .hud input {
    margin: 10px; }

.hud--horizontal {
  justify-content: flex-end;
  align-items: center; }

.hud--vertical {
  justify-content: flex-end;
  align-items: center; }

.dropdown {
  position: relative;
  display: inline-block;
  min-width: 140px;
  text-align: left; }

.dropdown--small {
  max-width: 10px;
  width: 10px;
  min-width: 10px; }
  .dropdown--small > div {
    margin-left: -151px;
    min-width: 150px; }

.dropdown__content {
  display: none;
  position: absolute;
  background-color: #b4b4b4;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-left: -12px;
  text-align: left;
  margin-top: 6px;
  padding-top: 7px;
  padding-bottom: 7px; }

.dropdown:hover .dropdown__content {
  display: block; }

.dropdown__item {
  padding: 0px;
  margin: 0px; }

.dropdown__text {
  font-size: 20px;
  color: white; }

.morphbox {
  background-color: #1380D5;
  width: 160px;
  align-self: center;
  transition: width 2s; }
