{% extends "base.html" %}
{% load frontend from utils %}

{% block content %}

<div class="section section--fullscreen section--blue center-content">
  <div class="content-panel">
    <div class="content-panel__header content-panel__header--center">
      <h1 class="logo__heading logo__heading--large">Pharos</h1>
      <object class="home__logo" data="{% frontend "img/icons/tower--new.svg"%}" type="image/svg+xml"></object>
    </div>
    <form class="home__login-form" action="{% url 'login' %}" method="post">
      {% csrf_token %}
      <!--Hack with id for quicker protyping-->
      <input id="id_login_view-current_step" name="login_view-current_step" type="hidden" value="auth">
      <div class="home__login-form-fields">
        <div class="form-group home__form-group">
          <input type="text" class="form-control form-control--shadow-inset" id="id_auth-username" placeholder="Username" name="auth-username">
        </div>
        <div class="form-group home__form-group">
          <input type="password" class="form-control form-control--shadow-inset" id="id_auth-password" placeholder="Password" name="auth-password">
        </div>
      </div>
      <div class="home__login-form-buttons">
        <a class="link link--blue" href="{% url 'registration_register' %}">Register</a>
        <button type="submit" class="btn btn-success btn-lg">Login</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
