{% extends "base.html" %}

{% block content %}

<div class="section">
  <h1>Pharos</h1>
  <img src="https://dummyimage.com/200x1:1"></img>
  <form>
    <div class="form-group">
      <label for="userName">UserName</label>
      <input type="text" class="form-control" id="userName" placeholder="Email">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Password">
    </div>
    <a>Register</a>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>

<div class="section">
  <h2>Keep Track of your Things!</h2>
  <p>{% lorem %}</p>
<img src="https://dummyimage.com/400x1:1"></img>
<div>
<div class="section">
  <h2>Object Tracking Made Easy!</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/ITHKAu4xmNg" frameborder="0" allowfullscreen></iframe>
<img src="https://dummyimage.com/400x1:1"></img>
<div>
{% endblock %}
