{% extends "base.html" %}
{% block content %}
<div class="section section--fullscreen section--purple center-content">
  <div class="form__panel">
    <h2 class="login__heading">Registration</h2>
    {% block form %}
    <form>
      <div class="form-group">
        <input type="email" class="form-control" id="email" placeholder="Email">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" id="password" placeholder="Password">
      </div>
      <div class="form__buttons">
        <button type="Login" class="btn btn-success">Submit</button>
      </div>
    </form>
    {% endblock form %}
  </div>
</div>

<div class="section section--fullscreen section--purple center-content">
  <div class="form__panel">
    <h2 class="login__heading">User Details</h2>
    <form>
      <div class="form-group">
        <input type="text" class="form-control" id="username" placeholder="Username">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="firstName" placeholder="First Name">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="lastName" placeholder="Last Name">
      </div>
      <div class="form-group">
        <input type="file" class="form-control" id="image" placeholder="">
      </div>
      <div class="form-group">
        <input type="phone" class="form-control" id="Phone Number" placeholder="Phone Number">
      </div>
      <div class="form__buttons">
        <button type="tel" class="btn btn-success">Submit</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
