{% extends "registration_base.html" %}
{% load widget_tweaks i18n %}

{% block panel_content %}
<form class="form-horizontal" role="form" action="." method="post">
  {% csrf_token %}
  {% for field in form %}
  {% if field.errors %}
  <div class="form-group has-error">
    {% if field.help_text %}
    <span class="hint--right" aria-label="{{ field.help_text }}">
      {% endif %}

      {% render_field field placeholder=field.label class="form-control formpanel__form-control" %}

      {% if field.help_text %}
    </span>
    {% endif %}
    {% for error in  field.errors %}
    <span class="help-block">
      {{ error }}
    </span>
    {% endfor %}

  </div>
  {% else %}
  <div class="form-group">
    {% if field.help_text %}
    <span class="hint--right" aria-label="{{ field.help_text }}">
      {% endif %}

      {% render_field field placeholder=field.label class="form-control formpanel__form-control" %}

      {% if field.help_text %}
    </span>
    {% endif %}
  </div>
  {% endif %}
  {% endfor %}
  <div class="form__buttons">
    <button type="submit" class="btn btn-success">Submit</button>
  </div>
</form>
</form> {% csrf_token %}
{% endblock panel_content %}

