.btn{
  font-size: $font-size;
  border-style: none;
  border-radius: 2px;
  font-family: $font;
}

.btn-success{
  background-color: $green !important;
}

.btn-info{
  background-color: $blue !important;
  border-style: none;
}

.btn-form{
  margin-left: 20px;
}

.btn-navbar{
  margin-top: 15px;
  @include screen(med){
  margin-top: 5px;
  }
}

.btn-outline{
  border-style: solid;
  border-width: 0.5px;
}

.btn-outline-danger{
  border-color: $red;
  color: $red;
}
