.btn{
  font-size: 18px;
  border-style: none;
}

.btn-success{
  background-color: $green !important;
}

.btn-info{
  background-color: $blue !important;
  border-style: none;
}

.btn-form{
  margin-left: 20px;
}

.btn-navbar{
  margin-top: 15px;
  @include screen(med){
  margin-top: 5px;
  }
}
