@mixin gradient($args...) {
  background: nth($args, 1);
  background: -webkit-linear-gradient(left, $args);
  background: -o-linear-gradient(left, $args);
  background: -moz-linear-gradient(left, $args);
  background: linear-gradient(left, $args);
}

@mixin blur($spread: 4px) {
  filter:blur($spread);
  -o-filter:blur($spread);
  -ms-filter:blur($spread);
  -moz-filter:blur($spread);
  -webkit-filter:blur($spread);
}

$gray: #676767;
$grey: #676767;
$darkgrey: #4A4A4A; // TODO: Remove
$grey--dark: #4A4A4A;
$lightgrey: #b4b4b4; // TODO: Remove
$grey--light: #b4b4b4;

$white: white;
$transparent: transparent;

$blue: #1380D5;
$lightblue: #85D0ED; // TODO: Remove
$blue--light: #85D0ED;
$blue--ultra-light: #C8E5F0;
$darkblue: #006FC6;
$blue--dark: #006FC6;

@mixin gradientblue() {
  @include gradient($blue--dark, $blue, $blue--light)
}

@mixin gradientblue--light() {
  @include gradient($blue, $lightblue)
}

@mixin gradientblue--ultra-light() {
  @include gradient($lightblue, $white)
}

$green: #53B70F;

$red: #D51313;
$lightred: #DC3A3A;

$orange: #F99D3C;
$darkorange: #f76c1d;

@mixin gradientred() {
  @include gradient($red, $orange, $yellow)
}

@mixin gradientorange() {
  @include gradient($darkorange, $yellow)
}

$purple: #653DBC;
$purple--dark: #3023AE;
$purple--light: #C86DD7;

@mixin gradient--purple() {
  @include gradient($purple--dark, $purple, $purple--light)
}

$pink: #C86DD7;
$pink--dark: #C34FCC;
$pink--light: #CCA5BF;
@mixin gradient--pink() {
  @include gradient($pink--dark, $pink, $pink--light)
}


$black: black;

$yellow: #F6E015;

$brighten--light: rgba(255,255,255,0.25);
$brighten: rgba(255,255,255,0.5);
$brighten--strong: rgba(255,255,255,0.75);

$darken--light: rgba(0,0,0,0.25);
$darken-light: rgba(0,0,0,0.25);
$darken: rgba(0,0,0,0.5);
$darken-strong: rgba(0,0,0,0.75);
$darken--strong: rgba(0,0,0,0.75);

//=================================================
// Shadow ========================================
//================================================
@mixin shadow() {
  box-shadow: 0px 0px 25px $darken;
}
@mixin shadow--small() {
  box-shadow: 0px 0px 10px $darken;
}

@mixin shadow--inset() {
  box-shadow: inset 0px 0px 25px $darken;
}
@mixin shadow--inset-small() {
  box-shadow: inset 0px 0px 10px $darken;
}

$font-color: $grey--dark;
$font-color--light: $grey--light;
$font-color--inverted:white;
