.dashboard__layout{
  display: flex;
}

.dashboard__navbar{
  background: $darkgrey;
  height: 100vh;
  min-width: 200px;
  @include screen(med){
    min-width: 60px;
    max-width: 60px;
  }
  @include screen(small){
    min-width: 60px;
    max-width: 60px;
  }
}

.dashboard__content{
  height: 100vh;
  width: 100%;
}

.dashboard__navbar-icon{
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

.dashboard__navbar-text{
  color: $lightgrey;
  font-size: 20px;
  height: 28px;
  margin-left: 10px;
}

.dashboard__navbar-link{
  &:hover{
    text-decoration: none;
    color: $lightgrey;
  }
}

.dashboard__navbar-item{
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  &:hover{
    background: $grey;
  }
}

.dashboard__navbar-item--active{
  background: $grey;
  >.hover-apear{
    opacity: 1;
  }
}

.dashboard__navbar-list{
  padding: 0px;
  margin-top: 100px;
}

.dashboard__navbar-brand{
  display: flex;
  padding-left: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  &:hover{
    text-decoration: none;
  }
}

.dashboard__navbar-logo{
  width: 50px;
  height: 50px;
}

.dashboard__navbar-title{
  font-size: 36px;
  color: $white;
  vertical-align: center;
  margin-left: 5px;
}

.dashboard__content-panel {
  background-color: $white;
  box-shadow: 0px 0px 25px $darken;
  width: 100%;
}

.dashboard__content-background {
  padding: 20px;
  height: 100vh;
  width: 100%;
}

.dashboard__content-background--orange {
  @include gradientorange();
}

.dashboard__content-background--purple {
  @include gradient--purple();
}

.dashboard__content-background--blue {
  @include gradientblue();
}

.dashboard__content-background--pink {
  @include gradient--pink();
}

.dashboard__list-wrapper{
  padding: 10px;
  width: 50%;
}

.dashboard__list{
  display: flex;
  allign-itms: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow: scroll;

  height: 250px;
  box-shadow: 0px 0px 25px $darken;
  margin-bottom: 0px;
  padding: 15px;
}
.dashboard__list--empty{
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.list-entry__tag{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  margin: 5px;
  margin-bottom: 15px;

  font-size: 20px;
}

.list-entry__image{
  width: 90px;
  height: 90px;
  margin-bottom: -7px;
}

.list-entry__empty{
  width: 300px;
  text-align: center;
  >p{
    margin-bottom: 30px;
    font-size: 36px;
    color: $lightgrey;
  }
  @include screen(small){
    >p{
      margin-bottom: 30px;
      font-size: 24px;
      color: $lightgrey;
    }
  }
}

.list-entry__image--small{
  width: 50px;
  height: 50px;
}

.map{
  background: green;
  width: 100%;
  height: 300px;
}

.tag-overview__panel {
  padding: 20px;
}

.tag-overview__list {
  padding: 0px;
  box-shadow: 0px 0px 25px $darken;

  height: 300px;
  overflow: scroll;
}

.tag-overview__list-item {
  display: flex;
}

.tag-overview__info {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 80%
}

.tag-overview__list-item--normal {
  @include gradientblue();
}

.tag-overview__list-item--alert {
  @include gradientred();
}

.tag-overview__icon{
  width: 75px;
  height: 75px;
}

.tag-overview__list-label {
  font-color: $white;
  color: $white;
  font-size: 36px;
  margin-left: 10px;
}

.tag-overview__status {
  font-color: $white;
  color: $white;
  font-size: 18px;
  margin-left: 30px;
}

.tag-overview__state {
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  font-color: $white;
  color: $white;
  font-size: 24px;
  height: 100%;
  min-height: 100px;
  width: 20%;
  text-align: center;
  vertical-align: center;
  box-shadow:         inset 5px 0 5px $darken;

}

.tag-overview__state--active {
  background-color: $green;
}

.tag-overview__state--disabled {
  background-color: $red;
}

.tag-overview__section {
  margin-bottom: 100px;
}

.tag-overview__add-entry{
  display: flex;
  justify-content: center;
  padding: 20px;
  width: 100%;
}

.tag-overview__filter-container{
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  flex-direction: row-reverse;
  margin-top: 20px;
  margin-bottom: 20px;
}
