.dashboard__layout{
  display: flex;
}

.dashboard__navbar{

  z-index: 1;
  height: 100vh;
  min-width: 200px;

  @include screen(med){
    min-width: 60px;
    max-width: 60px;
  }

  @include screen(small){
    min-width: 60px;
    max-width: 60px;
  }

  @include screen(mobile){
    position: absolute;
    right: 0px;
    width: 50px;
    height: 50px;

    >.dashboard__navbar--normal{
      visibility: hidden;
    }

    >.dashboard__navbar--mobile{
      visibility: visible;
      width: 50px;
      height: 50px;
    }
  }
}

.dashboard__content{
  height: 100vh;
  width: 100%;
  overflow: scroll;
}

.dashboard__element{
  padding: 50px;
}

.dashboard__element--scrollable{
  overflow: scroll;
  height: 60vh!important;
}

.dashboard__navbar--normal{
  background-color: $darkgrey;
  height: 100%;
  width: 100%;
}

.dashboard__navbar--mobile{
  top:0;
  right:0;

  position: absolute;
  visibility: hidden;
  overflow: hidden;

  width: 0px;
  height: 0px;
  margin: 5px;

  transition: all 1s;
  -webkit-transition: all 1s;

  &:hover, &:active{
    margin: 0px;
    >.dashboard__mobile-navbar--collapsed{
      visibility: hidden;
    }
    >.dashboard__mobile-navbar--expanded{
      visibility: visible;
    }

    background-color: $darken;
    width: 100vw;
    height: 55vh;
  }
}

.dashboard__mobile-navbar--collapsed{
  position: absolute;
  visibility: visible;
}

.dashboard__mobile-navbar--expanded{
  position: relative;
  visibility: hidden;
  overflow: scroll;
}


.dashboard__navbar-icon{
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

.dashboard__navbar-text{
  color: $white;
  font-size: 20px;
  height: 28px;
  margin-left: 10px;
  font-family: $link-font;
}

.dashboard__navbar-link{
  &:hover{
    text-decoration: none;
    color: $lightgrey;
  }
}

.dashboard__navbar-item{
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
}

.dashboard__navbar-item--mobile{
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.dashboard__navbar-item--active{
  >.hover-apear{
    opacity: 1;
  }

  @include screen(mobile){
    background: transparent;
  };

}

.dashboard__navbar-list{
  padding: 0px;
  margin-top: 100px;

  @include screen(mobile){
    margin-top: 50px;
    padding: 0px;
  }
}

.dashboard__navbar-brand{
  display: flex;
  padding-left: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  &:hover{
    text-decoration: none;
  }
}

.dashboard__navbar-logo{
  width: 45px;
  height: 45px;
}

.dashboard__navbar-title{
  color: $white;
  font-family: "Brush Script MT", cursive;
  font-size: 42px;
  margin-left: 5px;
  vertical-align: center;
}

.dashboard__content-background {
  padding: 20px;
  height: 100vh;
  width: 100%;
  @include screen(mobile){
    padding: 5px;
  };
}

.dashboard__content-background--orange {
  @include gradientorange();
}

.dashboard__content-background--purple {
  @include gradient--purple();
}

.dashboard__content-background--blue {
  @include gradientblue();
}

.dashboard__content-background--pink {
  @include gradient--pink();
}

.dashboard__list-wrapper{
  padding: 10px;
  width: 50%;
  @include screen(small){
    width: unset;
  };

  @include screen(mobile){
    padding: 5px;
  };
}

.dashboard__list{
  display: flex;
  allign-itms: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow-y: scroll;
  overflow-x: hidden;

  height: 250px;
  @include shadow--small();
  margin-bottom: 0px;
  padding: 15px;

  @include screen(mobile){
    width: 90vw;
    height: 90%;

  };
}
.dashboard__list--empty{
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.list-entry__tag{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  margin: 5px;
  margin-bottom: 15px;

  font-size: 20px;
  @include screen(mobile){
    height: 50px;
    width: 50px;
  };
}


.list-entry__empty{
  width: 300px;
  text-align: center;
  >p{
    margin-bottom: 30px;
    font-size: 36px;
    color: $lightgrey;
  }
  @include screen(small){
    >p{
      margin-bottom: 30px;
      font-size: 24px;
      color: $lightgrey;
    }
  }
}

.list-entry__image--small{
  width: 50px;
  height: 50px;
  @include screen(mobile){
    width: 30px;
    height: 30px;
  };
}

.tag-overview__panel {
  padding: 20px;
  @include screen(mobile){
    padding: 5px;
  };
}

.tag-table{

}

.tag-overview__list-item {
  display: flex;
  height: 70px;

  @include screen(mobile){
    height: 50px;
  };
}

.tag-overview__info {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 80%
}

.tag-overview__list-item--normal {
  @include gradientblue();
}

.tag-overview__list-item--alert {
  @include gradientred();
}

.tag-overview__icon{
  width: 60px;
  height: 60px;
  @include screen(mobile){
    width: 40px;
    height: 40px;
  };
}

.tag-overview__list-label {
  font-color: $white;
  color: $white;
  font-size: 30px;
  margin-left: 10px;

  @include screen(mobile){
    font-size: 22px;
    margin-left: 10px;
    width: 40%;
  };
}

.tag-overview__status {
  font-color: $white;
  color: $white;
  font-size: 18px;
  margin-left: 30px;

  @include screen(mobile){
    margin-left: 00px;
    font-size: 12px;
    height: 100%;
    p {
      font-size: 12px;
    }
  }
}

.tag-overview__associate{
  width: 15px;
  width: 15px;
}

.tag-overview__state {
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  font-color: $white;
  color: $white;
  font-size: 24px;
  height: 100%;
  width: 20%;
  text-align: center;
  vertical-align: center;
  box-shadow: inset 5px 0 5px $darken;

  @include screen(mobile){
    min-height: 50%;
    font-size: 12px;
  }

}

.tag-overview__state--active {
  background-color: $green;
}

.tag-overview__state--disabled {
  background-color: $red;
}

.tag-overview__section {
  margin-bottom: 100px;

  @include screen(med){
    margin-bottom: 35px;
  };

}

.tag-overview__section-heading {
  padding-top: 0px;
  margin: 5px;
}

.tag-overview__add-entry{
  display: flex;
  justify-content: center;
  padding: 20px;
  width: 100%;
}

.tag-overview__filter-container{
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  flex-direction: row-reverse;
  margin-top: 20px;
  margin-bottom: 20px;
  >input{
    box-shadow: inset 0px 0px 0px transparent;
  }
  @include screen(mobile){
    margin-top: 20px;
    margin-bottom: 10px;

  };
}

.notifications__panel {
  padding: 20px;
  height: 600px;
  @include screen(mobile){
    max-height: 100vh;
    padding: 5px;
  };
}

.notifications__heading {
  font-color: $black;
  color: $black;
  font-size: 42px;
}

.notifications__table-header {
  border-style: none;
  border-bottom-width: 0px !important;
}

.notifications__table {
  margin-top: 50px;
  max-height: 100%;

  thead {
    background: $blue;
    color: $white;
  }
  @include screen(mobile){
    margin-top: 00px;

  }
}

.notifications__table-wrapper{
  box-shadow: 0px 0px 25px $darken;
  @include screen(mobile){
    margin-top: 30px;
    overflow: scroll;
    max-height: 80vh;
  };
}

.notifications__row--new {
  font-weight: 700 !important;
}

.settings__panel{
  padding: 20px;
  overflow: scroll;
  height: 100%;
}


.settings__section{
  display: flex;
  flex-direction: row;
  margin-bottom: 100px;

  @include screen(mobile){
    flex-flow: column;
  }
}

.settings__section--first{
  @include screen(mobile){
    flex-flow: row;
  }
}

.settings__section-title{
  width: 30%;
  display: flex;
  flex-flow: column;
  align-items: center;
  @include screen(mobile){
    width: 100%;
    align-items: flex-start;
  }
}

.settings__section-title--first{
  @include screen(mobile){
    width: 40%;
  }
}

.settings__section-content{
  width: 70%;
  padding-left: 30px;
  p{
    font-size: 16px;
  }

  @include screen(mobile){
    margin-top: 20px;
    padding: 5px;
  };
}

.settings__heading{
  font-color: $black;
  color: $black;
  font-size: 60px;
  margin-bottom: 20px;

  @include screen(mobile){
    font-size: 32px;
  };
}

.settings__heading-2{
  padding: 0px;
  margin: 0px;

}

.btn-settings{
  margin-top: 100px;
  padding-left: 30px;
  padding-right: 30px;
}

.dashboard-navbar__container{
  display: flex;
  height: 100vh;
}

.dashboard-navbar__color-indicator{
  display: static;
  height: 100vh;
  min-width: 5px;
  @include gradientblue--ultra-light();
  opacity: 1.00;
}
