$font:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$font--light:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$heading-font: $font--light;
$link-font:  $font--light;

$font-weight--light: 100;

$font-size--extra-large: 30px;
$font-size--large: 24px;
$font-size: 20px;
$font-size--small: 16px;

h1 {
  //font-size: 80px;
  padding: 0px;
  margin: 0px;
  color: $white;
}

.heading-1{
  font-family: $heading-font;
  font-size: 80px;
  color: $font-color;
  padding-bottom: 30px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
  padding:0px;
  margin:0px;
  margin-bottom: 10px;
}

.font__inverted{
  color: $white;
}

ul {
  padding: 10px;
  list-style-type: none;
}

.logo__heading{
  font-family: "Brush Script MT", cursive;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
}

.logo__heading--large{
  font-size: 160px;

  @include screen(med){
    font-size: 135px;
  }
  @include screen(small){
    font-size: 100px;
  }
  @include screen(mobile){
    font-size: 70px;
  }
}
