.form-control{
  font-family: $font;
  font-size: $font-size--small;
  border-radius: 0px;
  border-color: none;
  border-style: none;
}

.form-control--light{
  border-width: 0 !important;
}

.form-group--min{
  width: 300px;
}

.form-control--shadow{
  @include shadow();
}

.form-control--shadow-inset{
  @include shadow--inset-small();
}

.form__buttons{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 10px;
}

.has-error{
  color: $red !important;
}

.help-block--warning .has-warning{
  color: $yellow !important;
}

.alert{
  border-radius: 0px;
  border-width: 0px;
  color: $black;
}


.alert-info{
  background-color: $blue;
}

.alert-warning{
  background-color: $yellow;
}

.alert-danger{
  background-color: $red;
}

//Todo: Delete
.form-panel__heading{
  padding: 0px;
  margin-right:0px;
  padding-bottom: 30px;
  font-family: $heading-font;
  font-size: 60px
  color: $red;
}

//Todo: Delete
.form-panel__text{
  //width: 400px;
  color: $red;
  font-size: $font-size--large;
  //padding-bottom: 10px;
  font-family: $font--light;
  font-weight: $font-weight--light;
}

.form-group{
  margin: 0px !important;
  margin-bottom: 15px !important;
}

.form-group--full-width{
  width: 100%;
}

.form-group--navbar{
  margin: 0px !important;
}

.form-group__double{
  display: flex;
}

.form-group__label--disabled {
  color: $grey--light;
}
