.form-control{
  border-radius: 0px !important;
  border-color: none !important;
  border-style: none !important;
}

.form-control--shadow{
  box-shadow: 2px 2px 5px $darken;
}

.form__buttons{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 10px;
}

.has-error{
  color: $red !important;
}

.help-block--warning .has-warning{
  color: $yellow !important;
}

.alert{
  border-radius: 0px;
  border-width: 0px;
  color: $black;
}


.alert-info{
  background-color: $blue;
}

.alert-warning{
  background-color: $yellow;
}

.alert-danger{
  background-color: $red;
}

.form__link{
  padding-right: 20px;
}

.form-panel{
  background-color: $darken;
  padding: 50px;
  width: 500px;

  padding-top: 25px;
  padding-bottom: 25px;
  @include screen(med){
    padding: 50px;
    padding-top: 75px;
    padding-bottom: 75px;
  }

  @include screen(small){
    padding: 75px;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  @include screen(mobile){
    padding: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 300px;
  }

  box-shadow: 5px 5px 15px $darken-strong;
}

.form-panel__heading{
  padding: 0px;
  margin-right:0px;
  padding-bottom: 30px;
  font-size: 60px
}

.form-panel__text{
  width: 400px;
  color: $white;
  padding-bottom: 10px;
}

.form-group{
  margin: 0px !important;
  margin-bottom: 15px !important;
}

.form-group--full-width{
  width: 100%;
}

.form-group--navbar{
  margin: 0px !important;
}
