.section{
    background: transparent;
    width: 100%;
}


.section--fullscreen{
    height: 100vh;
}

.section--purple{
    @include gradient(blue, purple , red);
}

.section--blue{
    @include gradientblue--light();
}

.large-only{
    @include screen(small){
        visibility:hidden;
        height: 0px;
        width: 0px;
    }
    @include screen(custom, max, $breakpoint-med - 1){
        visibility:hidden;
        height: 0px;
        width: 0px;
    }
}

.med-only{
    @include screen(small){
        visibility:hidden;
        visibility:hidden;
        height: 0px;
        width: 0px;
    }
    @include screen(large, min){
        visibility:hidden;
        height: 0px;
        width: 0px;
    }
}

.small-only{
    @include screen(custom, min, $breakpoint-small - 1){
        visibility:hidden;
        height: 0px;
        width: 0px;
    }
    @include screen(large, min){
        visibility:hidden;
        height: 0px;
        width: 0px;
    }
}

.align-horizontal{
    display: flex;
    align-items: center;
}

.center-content--horizontal{
    display: flex;
    align-items: center;
    //justify-content: center;
    flex-direction: column;
}
.center-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.columns__1-1{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;

    >div{
        width: 50%
    }

    @include screen(small){
        >div{
            width: 100%
        }
    }
}

.columns__1-1--reverse{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    width: 100%;

    div{
        width: 50%
    }

    @include screen(small){
        div{
            width: 100%
        }
    }
}

.tile-layout__2x2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;

    @include screen(small){
        flex-wrap: nowrap;
        flex-direction: column;
        align-itmes: stretch;
        justify-content: space-between;
    }

    @include screen(mobile){
        flex-direction: row;
        overflow-x: scroll;
        padding: 0px;
    };
}
