.map{
  background: lightblue;
  height: 40vh!important;
  overflow: hidden!important;
  @include shadow();
}

.map--shawod{
  @include shadow();
}

.map--small{
  display: block;
  height: 600px!important;
}

.map__marker--hover{
  width: 100px;
  background-color: pink;
}

.leaflet-marker-icon{
  width: 35px;
}
