.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $darken--strong;
    display: flex;
    justify-content: center;
    transition: opacity .3s ease;
    overflow: scroll;
    padding-top: 50px;
}

.modal-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px auto;
    background-color: $white;
    border-radius: 2px;
    transition: all .3s ease;
    font-family: $font;
    overflow: scroll;
}

.modal-container--large {
    width: 90vw;
    height: 90vh;
    //height: auto;
}

.modal-container--small {
    width: 60vw;
    height: 33vh;
}

.modal__header {
}

.hud{
    position: absolute;
    z-index: 401;
    display: flex;
    width: 90%;
    >img,input{
        margin: 10px;
    }

    background: $brighten--strong;
}

.hud--horizontal{

    justify-content: flex-end;
    align-items: center;
}

.modal__body {
    padding: 20px 30px;
    margin: 20px 0;
}

.modal__footer {
    padding: 20px;
    text-align: right;
}

.modal__title {
    //font-size: $font-size--extra-large;
    font-size: 38px;
    background: $darken;
    color: $font-color--inverted;
    text-align: right !important;
    border-style: none;
    padding-right: 10px;
    height: 50px;
}

.modal-default-button {
    float: right;
}

.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
