.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  transition: opacity .3s ease;

  overflow: scroll;
  padding-top: 50px;
}

.modal-container {
  width: 90vw;
  height: 190vh;

  margin: 0px auto;
  background-color: $white;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: $font;
}

.modal__header {
}
.modal__floating-header{
    position: absolute;
    z-index: 999;
    display: flex;
    width: 90%;
    justify-content: flex-end;
    >img,input{
        margin: 10px;
    }
}

.modal__body {
  padding: 20px 30px;
  margin: 20px 0;
}

.modal__title {
  //font-size: $font-size--extra-large;
  font-size: 38px;
  background: $darken;
  color: $font-color--inverted;
  text-align: right !important;
  border-style: none;
  padding-right: 10px;
  height: 50px;
}

.modal-default-button {
  float: right;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
