.navbar{
  position: absolute;
  width: 100%;
  background: $darken-light;
  border: none;
  padding-top: 10px;

  font-size: 22px;
  a{
    color: $font-color--inverted !important;
  }
}

.navbar-default{
  border-width: 0px !important;
  border-color: transparent !important;
}

.navbar__logo{
  height: 50px;
}

.navbar-brand{
  display: flex;
  align-items: center;
  h1{
    color: $font-color--inverted;
    padding-left: 10px;
  }
}

.navbar-form{
  padding-left: 0px !important;
  border-color: transparent !important;
}

.navbar-toggle{
  border-width: 2px;
  border-color: $white !important;
  span{
    background-color: $white !important;
  }

  &:hover{
    background-color: $darken--light !important;
  }
}

.navbar-collapse{
  @include screen(small){
    background-color: $darken--strong;
  }
}

.navbar__logo-title{
  font-family: "Brush Script MT", cursive;
  font-size: 42px;
}

.navbar__link{
  font-family: $link-font;
}

.navbar__list{
  padding-top: 0px;
}


.navbar__user{
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  @include screen(small){
    margin: 0px;
    margin-top: 10px;
  }
}

.navbar__user-font{

  color: $white;
  margin: 0px;
  font-size: 16px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin-left: 5px;

  @include screen(small){
    font-size: 22px;
  }

}

.dropdown-toggle{
  text-decoration: none !important;
}

.dropdown-menu{
  border-radius: 0;
  background-color: $darken--light;
  margin: 0px;
  border: none;
  font-size: 16px;
  font-family: $link-font;

  a:hover{
    background-color: $darken !important;
  }
}

.dropdown-menu--icon{
  width: 50px;
  height: 20px;
}
