.table {
  display: table!important;
}

.table-striped--dark{
  >tbody>tr:nth-of-type(even) {
    background-color: $grey--light;
  }
  >tbody>tr:nth-of-type(odd) {
    background-color: $grey;
  }
}

.table__actions{
  display: flex;
  justify-content: flex-end;
}

.table__filter{
  margin: 0px;
  width: 200px;
  border-style: solid!important;
  border-width: 0.5px!important;
  border-color: $grey--light;
  margin-bottom: 10px;

}

.table__head{
}

.table__head--dark{
  background-color: $grey;
}

.table__body{

}

.table__header{
  color: $font-color--light;
  font-family: $font--light;
  font-weight: $font-weight--light;
  font-size: $font-size;
  border-width: 0px!important;
  padding: 8px;
}

.table__header--dark{
  color: $font-color !important;
}

.table__header--hidden{
  width: 0px;
}


.table__row{
  padding-top: 30px!important;
}
.table__row--dark{
}

.table__cell{
  display: table-cell;
  height: 100%;
  border-width: 0px!important;
}

.table__cell--empty{
  padding-top: 10px;
  text-align: center;
}

.table__cell-text{
  font-family: $font--light;
  font-size: $font-size;

  display: flex;
  height: 100%;
  align-items: center;
}

.table__cell-text--small{
  font-size: $font-size--small;
}

.table__cell-text--placeholder{
  color: $grey--light;
  font-size: $font-size--large;
  font-family: $font--light;
  padding-bottom: 20px;
}

.table__icon{
  width: 50px;
  height:50px;
}

.table__icon--small{
  width: 30px;
  height:30px;
}

.table__icon--hexagon{
  @include hexagon-clip();
}
