.table {
  display: table!important;
}

.table-striped--dark{
  >tbody>tr:nth-of-type(even) {
    background-color: $grey--light;
  }
  >tbody>tr:nth-of-type(odd) {
    background-color: $grey;
  }
}

.table__actions{
  display: flex;
  justify-content: flex-end;
}

.table__filter{
  margin: 0px;
  width: 200px;
  border-style: solid!important;
  border-width: 0.5px!important;
  border-color: $grey--light;
  margin-bottom: 10px;

  @include screen(small){
    display: none;
  };

}

.table__head{
  padding-bottom: 20px !important;
}

.table__head--dark{
  background-color: $grey;
}

.table__body{

}

.table__heading{
  font-size: $font-size--extra-large;
  font-family: $heading-font;
  font-color: $font-color;
}

.table__header{
  color: $font-color--light;
  font-family: $font--light;
  font-weight: $font-weight--light;
  font-size: $font-size;
  border-width: 0px!important;
  padding: 8px;
  padding-bottom: 30px;

  @include screen(small){
    font-size: $font-size--small;
  };

}

.table__header--dark{
  color: $font-color !important;
}

.table__header--hidden{
  padding: 0px;
  margin: -8px;
  width: 1px;
}

.table__row{
  padding-top: 30px!important;
  max-height: 60px;
  min-height: 60px;
  height: 60px;
  &:hover{
    background-color: $blue--ultra-light !important;
  }
}

.table__row--dark{
  &:hover{
    background-color: red !important;
  }
}

.table__cell{
  display: table-cell;

  max-height: 60px !important;
  min-height: 60px !important;
  height: 60px !important;
  border-width: 0px!important;

  font-family: $font--light;
  font-size: $font-size;

  @include screen(small){
    font-size: $font-size--small;
  };
}

.table__cell--hidden{
  width: 10px;
  padding: 0px;
  color: pink !important;
}

.table__cell--empty{
  padding-top: 10px;
  text-align: center;
}

.table__cell-text{
  display: flex;
  height: 100%;
  align-items: center;
}

.table__cell--center{
  display: flex;
  min-height: 100%;
  justify-content: center;
  align-items: center;
}

.table__cell-text--small{
  font-size: $font-size--small;

  @include screen(small){
    font-size: $font-size--small;
  };
}

.table__cell-text--placeholder{
  color: $grey--light;
  font-size: $font-size--large;
  font-family: $font--light;
  padding-bottom: 20px;
}

.table__icon{
  width: 50px;
  height:50px;
  //background-color: red;

  @include screen(small){
    width: 30px;
    height: 30px;
  };

}

.table__icon--small{
  width: 30px;
  height:30px;

  @include screen(small){
    width: 20px;
    height: 20px;
  };
}

.table__icon--hexagon{
  @include hexagon-clip();
}

.table__content--center {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
}
