<footer>
  <div class="footer__column">
    <h3 class="footer__heading"> Title 1</h3>
    <ul>
      <li><a class="footer__link" href="#">Item 1</a></li>
      <li><a class="footer__link" href="#">Item 2</a></li>
      <li><a class="footer__link" href="#">Item 3</a></li>
    </ul>
  </div>

  <div class="footer__column">
    <h3 class="footer__heading"> Title 2</h3>
    <ul>
      <li><a class="footer__link" href="#">Item 1</a></li>
      <li><a class="footer__link" href="#">Item 2</a></li>
      <li><a class="footer__link" href="#">Item 3</a></li>
    </ul>
  </div>

  <div class="footer__column">
    <h3 class="footer__heading"> Title 3</h3>
    <ul>
      <li><a class="footer__link" href="#">Item 1</a></li>
      <li><a class="footer__link" href="#">Item 2</a></li>
      <li><a class="footer__link" href="#">Item 3</a></li>
    </ul>
  </div>
</footer>
