{% load static %}
{% if not request.user or not request.user.is_authenticated %}
<form class="navbar-form navbar-right large-only" action="{% url 'login' %}" method="post">

  {% csrf_token %}

  <input id="id_login_view-current_step" name="login_view-current_step" type="hidden" value="auth">
  <div class="form-group form-group--navbar">
    <input type="text" class="form-control" id="id_auth-username" placeholder="Username" name="auth-username">
    <input type="password" class="form-control" id="id_auth-password" placeholder="Password" name="auth-password">
  </div>
  <button type="Login" class="btn btn-success">Login</button>
  <a class="btn btn-info" href="{% url 'registration_register' %}">Register</a>
</form>
<div class="navbar-right med-only">
  <a type="Login" class="btn btn-success btn-navbar" href="{% url 'login' %}">Login</a>
  <a  class="btn btn-info btn-navbar" href="{% url 'registration_register' %}">Register</a>
</div>
{% else %}
<div class="navbar-right">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                                                                           aria-expanded="false">
    <div class="navbar__user">
      <div class="avatar__border">
        {% if request.user.conf %}
        <img class="avatar avatar--small" src="{{ request.user.conf.avatar.url }}" />
        {% else %}
        <img class="navbar__avatar" src="http://lorempixel.com/500/500/cats" />
        {% endif %}
      </div>
      <p class="navbar__user-font">Hello {{ request.user }}</p>
      <span class="caret"></span>
    </div>
  </a>
  <ul class="dropdown-menu">
    <li><a href="#">Action</a></li>
    <li role="separator" class="divider"></li>
    <li>
      <a href="register/logout">
        Logout
        <span>
          <img class="dropdown-menu--icon" src="{% static "img/icons/logout--white.svg" %}">
        </span>
      </a>
    </li>
  </ul>
</div>
{% endif %}

