{% load static %}
{% load frontend from utils %}

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="blur-layer">
    </div>
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home' %}">
        <object class="navbar__logo" data="{% frontend "img/icons/tower--new.svg"%}" type="image/svg+xml"></object>
        <h1 class="navbar__logo-title">Pharos</h1>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
      {% include "partials/navbar_login.html" %}

      <ul class="nav navbar-nav navbar-right navbar__list">
        <!--<li><a class="navbar__link" href="{% url 'technology' %}">Technology</a></li>-->
        <!--<li><a class="navbar__link" href="{% url 'support' %}">Support</a></li>-->
        <li class="small-only"><a href="{% url 'login' %}">Login</a></li>
        <li class="small-only"><a href="{% url 'registration_register' %}">Register</a></li>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
