{% extends "vue_components/vue_component_base.html" %}
{% load utils %}

{% block id %}tag-marker{% endblock id %}

{% block content %}
    <!--<v-circle :lat-lng="{lat: 47.413220, lng: 8.519482}"-->
      <!--:radius="350" class="marker-class"></v-circle>-->
    <!--<v-circle v-if="tag.current_position" :lat-lng="tag.current_position.geometry.coordinates"-->
      <!--:radius="350" :color="tag.color" class="marker-class"></v-circle>-->
    <!--<v-circle :lat-lng="tag.current_position.geometry.coordinates"-->
      <!--:radius="350" :color="tag.color" class="marker-class"></v-circle>-->
{% endblock content %}
