{% extends "dashboard_base.html" %}


{% block dashboard_content %}
<img src="https://dummyimage.com/600x3:1"></img>

<div>
  <ul>
    <li>Tag 1</li>
    <li>Tag 2</li>
    <li>Tag 3</li>
    <li>Tag 4</li>
    <li>Add Tag</li>
  </ul>
</div>

<div>
  <ul>
    <li>Alert 1</li>
    <li>Alert 2</li>
    <li>Alert 3</li>
    <li>Alert 4</li>
  </ul>
</div>

<div>
  <ul>
    <li>Shared Tag 1</li>
    <li>Shared Tag 2</li>
    <li>Shared Tag 3</li>
    <li>Shared Tag 4</li>
  </ul>
</div>

<div>
  <ul>
    <li>Notification 1</li>
    <li>Notification 2</li>
    <li>Notification 3</li>
    <li>Notification 4</li>
  </ul>
</div>
{% endblock dashboard_content %}

