{% extends "dashboard_base.html" %}
{% load static utils %}


{% block dashboard_content %}
<div class="map"></div>

<div class="dashboard__element">
{% include "partials/tag_table.html" %}
</div>
<!--<div class="tile-layout__2x2">-->
<!--<div class="dashboard__list-wrapper">-->
<!--{% if True %}-->
<!--<ul class="dashboard__list">-->
<!--<li class="list-entry__tag">-->
<!--<img class="list-entry__image--small" src="{% static "img/icons/plus.svg" %}"></img>-->
<!--</li>-->
<!--</ul>-->
<!--{% else %}-->
<!--<div class="dashboard__list dashboard__list--empty">-->
<!--<div class="list-entry__empty">-->
<!--<p>No tag available</p>-->
<!--<a class="btn btn-success">Add tag</a>-->
<!--</div>-->
<!--</div>-->
<!--{% endif %}-->
<!--</div>-->

<!--<div class="dashboard__list-wrapper">-->
<!--{% if False %}-->
<!--<ul class="dashboard__list">-->
<!--{% for i in 1|range:10 %}-->
<!--<li class="list-entry__tag">-->
<!--<img class="list-entry__image" src="{% static "img/icons/alert.svg" %}"></img>-->
<!--<div>Alert {{ i }}</div>-->
<!--</li>-->
<!--{% endfor %}-->
<!--</ul>-->
<!--{% else %}-->
<!--<div class="dashboard__list dashboard__list--empty">-->
<!--<div class="list-entry__empty">-->
<!--<p>No alert pending</p>-->
<!--</div>-->
<!--</div>-->
<!--{% endif %}-->
<!--</div>-->

<!--<div class="dashboard__list-wrapper">-->
<!--{% if False %}-->
<!--<ul class="dashboard__list">-->
<!--{% for i in 1|range:10 %}-->
<!--<li class="list-entry__tag">-->
<!--<img class="list-entry__image" src="{% static "img/icons/tag.svg" %}"></img>-->
<!--<div>S. Tag {{ i }}</div>-->
<!--</li>-->
<!--{% endfor %}-->
<!--</ul>-->
<!--{% else %}-->
<!--<div class="dashboard__list dashboard__list--empty">-->
<!--<div class="list-entry__empty">-->
<!--<p>No shared tags</p>-->
<!--</div>-->
<!--</div>-->
<!--{% endif %}-->
<!--</div>-->

<!--<div class="dashboard__list-wrapper">-->
<!--{% if True %}-->
<!--<ul class="dashboard__list">-->
<!--{% for i in 1|range:10 %}-->
<!--<li class="list-entry__tag">-->
<!--<img class="list-entry__image" src="{% static "img/icons/message.svg" %}"></img>-->
<!--<div>Message {{ i }}</div>-->
<!--</li>-->
<!--{% endfor %}-->
<!--</ul>-->
<!--{% else %}-->
<!--<div class="dashboard__list dashboard__list--empty">-->
<!--<div class="list-entry__empty">-->
<!--<p>No shared tags</p>-->
<!--</div>-->
<!--</div>-->
<!--{% endif %}-->
<!--</div>-->
<!--</div>-->
{% endblock dashboard_content %}

