{% extends "dashboard_base.html" %}

{% block dashboard_content %}
<div class="dashboard__content-background dashboard__content-background--pink center-content--horizontal">
  <div class="dashboard__content-panel">

    <div>
      <h2>Unread</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Subject</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Mark</th>
            <td>10.11.17</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div>
      <h2>Archive</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Subject</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Mark</th>
            <td>10.11.17</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>

{% endblock dashboard_content %}
