{% extends "dashboard_base.html" %}

{% block  content %}
<div>
  <h2>Unread</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Mark</th>
        <td>10.11.17</td>
      </tr>
    </tbody>
  </table>
</div>

<div>
  <h2>Archive</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Mark</th>
        <td>10.11.17</td>
      </tr>
    </tbody>
  </table>
</div>

{% endblock  %}
