<div>
  <div class="table__heading">Shared Tags</div>
  <div class="table__actions">
    <input type="text" class="form-control table__filter" placeholder="Search"></input>
  </div>

  <table class="table table-striped">
    <thead class="table__head">
      <th class="table__header table__header--hidden"></th>
      <th class="table__header">Icon</th>
      <th class="table__header">Name</th>
      <th class="table__header">Owner</th>
      <th class="table__header">Permissions</th>
      <th class="table__header">Status</th>
      <th class="table__header">Last Update</th>
      <th class="table__header">Charge</th>
      <th class="table__header">Toggle</th>
    </thead>

    <tbody v-if="hasTags" >
      <v-shared-tag-table-entry  v-if="hasTags" v-for="tag in tags" :tag="tag" :tags="tags" :key="tag.id"></v-shared-tag-table-entry>
    </tbody>
    <tbody v-else >
      <tr class="table__row">
        <td class="table__cell table__cell--hidden" style="display: hidden;"></td>
        <td class="table__cell table__cell--empty" colspan="8">
          <div class="table__cell-text--placeholder">No tags shared with you.</div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
