<div>
  <div class="table__actions">
    <input type="text" class="form-control table__filter" placeholder="Search"></input>
  </div>

  <table class="table table-striped table-striped--dark">
    <thead class="table__head table__head--dark">
      <th class="table__header table__header--dark">Time</th>
      <th class="table__header table__header--dark">Position</th>
      <th class="table__header table__header--dark">Actions</th>
    </thead>
    <tbody>
      <v-pm-table-entry v-if="posMes" v-for="mes in posMes" :mes="mes" :l="posMes"></v-pm-table-entry>
    </tbody>
  </table>
</div>
