<tr class="table__row" @click="toggleModal" >
  <td class="table__cell" style="display: hidden;">
    <v-tag-modal :triggerModal="showModal" v-bind:tag="tag" :tags="tags"><div></div></v-tag-modal>
  </td>
  <td class="table__cell">
    <img v-if="tag.avatar" class="table__icon table__icon--hexagon" :src="tag.avatar"></img>
    <img v-else class="table__icon" src="/static/img/icons/marker--orange.svg"></img>
  </td>
  <td class="table__cell">
    <p class="table__cell-text">
    {{ tag.tag.name }}
    </p>
  </td>
  <td class="table__cell">
    <p  class="table__cell-text table__cell-text--small">
    {{ tag.user.email }}
    </p>
  </td>
  <td class="table__cell">
    <p  class="table__cell-text table__cell-text--small">
    {{ tag.permissions }}
    </p>
  </td>
  <td class="table__cell">
    <span class="hint--top" v-bind:aria-label="alertStatusHint">
      <p v-if="tag.alarm" class="table__cell-text">
      <img class="table__icon table__icon--small" src="/static/img/icons/alert.svg"></img>
      </p>
      <p v-else class="table__cell-text">
      <img class="table__icon table__icon--small" src="/static/img/icons/check.svg"></img>
      </p>
    </span>
  </td>
  <td class="table__cell">
    <p v-if="tag.last_update" class="table__cell-text table__cell-text--small">
    {{ tag.last_update | date }}
    </p>

    <p v-else class="table__cell-text table__cell-text--small">

    <span class="hint--top" v-bind:aria-label="noLastUpdateHint">
      Unknown
    </span>
    </p>
  </td>
  <td class="table__cell">
    <v-tag-charge-bar v-bind:tag="tag"></v-tag-charge-bar>
  </td>
  <td class="table__cell">
    <v-tag-toggle v-bind:tag="tag"></v-tag-toggle>
  </td>
</tr>
