<tr class="table__row" >
  <td class="table__cell">

    <p class="table__cell-text" v-if="sharedTag.pk">
    {{ sharedTag.user.email }}
    </p>

  <p class="table__cell-text" v-else>
  <v-select :options="userOptions" :on-change="userSet"></v-select>
  </p>
  </td>

  <td class="table__cell">
    <p class="table__cell-text" v-if="sharedTag.pk">
    <select v-model="sharedTag.permissions">
      <option value="0">Read on alarm</option>
      <option value="1">Read</option>
      <option value="2">Edit</option>
      <option value="3">Admin</option>
    </select>
    </p>
  </td>

  <td class="table__cell">
    <div class="btn btn-info " @click="removeSharedTag" v-if="sharedTag.pk">
      Delete
    </div>
  </td>

</tr>
