<div class="map map--small">
  <v-map v-if="tag.current_position" :zoom="zoom" :center="tag.current_position.coordinates" id="hello">
    <v-tilelayer url="http://{s}.tile.osm.org/{z}/{x}/{y}.png"></v-tilelayer>
    <v-poly v-if="positions" :lat-lngs="positions"></v-poly>
    <v-marker  v-if="tag.current_position.coordinates" :lat-lng="tag.current_position.coordinates" :color="tag.color" class="marker-class"></v-marker>
    <v-circle v-if="area" :lat-lng="areaCenter" :radius="area.radius"></v-circle>
  </v-map>
  <div v-else class="map__no-data">
    No positional data for this tag.
  </div>
</div>
