<div class="modal-mask">
  <div class="modal-container modal-container--large" @click.stop="" >
    <div class="modal__header">
      <div class="hud hud--horizontal">
        <img v-if="tag.avatar" class="avatar avatar--medium" :src="tag.avatar"></img>
        <img v-else class="avatar avatar--medium" src="/static/img/icons/tag.svg"></img>
        <input class="modal__title" v-model="tag.name"></input>
        <v-tag-toggle v-bind:tag="tag"></v-tag-toggle>
        <v-tag-charge-bar v-bind:tag="tag"></v-tag-charge-bar>
        <div>
          <p>{{ tag.uid }}</p>
        </div>
      </div>
      <v-tag-detail-map :tag="tag" :posMes="posMes"></v-tag-detail-map>
      <v-collapse-section>
        <v-position-measurements :tag="tag" :posMes="posMes"></v-position-measurements>
      </v-collapse-section>
    </div>
    <div class="modal__body">
      <div>
        <h2> Alarm Settings </h2>
        <div v-if="tag.alarm_config">
          <div v-if="tag.alarm_config.area">
            <div>Center:
              <input v-model="tag.alarm_config.area.center.coordinates[0]"></input>
              <input v-model="tag.alarm_config.area.center.coordinates[1]"></input>
              <div class="btn btn-info" @click="setCenterToCurrentPosition">Current Position</div>
            </div>
            <v-slider-controll :max="10000" :area="tag.alarm_config.area"></v-slider-controll>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
