<div class="modal__root">
  <div class="modal__toggle" @click.stop="toggle">
    <slot>
    Put trigger here
    </slot>
  </div>
  <div class="my-modal" :style="modalVisibilityStyle">
    <div class="modal-mask">
      <div class="modal-container modal-container--large" @click.stop="" >
        <div class="modal__header">
          <div class="hud hud--horizontal">
            <img v-if="tag.avatar" class="avatar avatar--medium" :src="tag.avatar"></img>
            <img v-else class="avatar avatar--medium" src="/static/img/icons/tag.svg"></img>
            <input class="modal__title" v-model="tag.name"></input>
            <v-tag-toggle v-bind:tag="tag"></v-tag-toggle>
            <v-tag-charge-bar v-bind:tag="tag"></v-tag-charge-bar>
            <div>
              <p>{{ tag.uid }}</p>
            </div>
          </div>
          <v-tag-detail-map :tag="tag" :posMes="posMes" ></v-tag-detail-map>
          <v-collapse-section>
            <v-position-measurements :tag="tag" :posMes="posMes"></v-position-measurements>
          </v-collapse-section>
        </div>

        <div class="modal__body">
          <div>
            <h2> Alarm Settings </h2>
            <div v-if="tag.alarm_config">
              <div v-if="tag.alarm_config.area">
                <div>Center:
                  <input v-model.number="tag.alarm_config.area.center.coordinates[0]"></input>
                  <input v-model.number="tag.alarm_config.area.center.coordinates[1]"></input>
                  <div class="btn btn-info" @click="setCenterToCurrentPosition">Current Position</div>
                </div>
                <v-slider-controll :max="10000" :area="tag.alarm_config.area"></v-slider-controll>
              </div>
            </div>
          </div>


          <div>
            <h2> Share Settings </h2>
            <table class="table table-striped">
              <thead class="table__head">
                <th class="table__header">User</th>
                <th class="table__header">Permissions</th>
                <th class="table__header">Actions</th>
              </thead>

              <tbody>
                <v-share-settings-entry v-for="sharedTag in sharedTags" :key="sharedTag.id" :shared-tag="sharedTag"
                  :shared-tags="sharedTags"></v-share-settings-entry>
                <td class="table__cell table__cell--empty" colspan="6">
                  <v-share-tag-button :tag="tag" :shared-tags="sharedTags"></v-share-tag-button>
                </td>
              </tbody>
            </table>
          </div>
        </div>

        <div class="modal__footer">
          <div class="btn btn-danger" @click="deleteTag">Delete</div>
          <div class="btn btn-success" @click="toggle">Ok</div>
        </div>
      </div>

    </div>
  </div>
</div>
