<div class="map">
  <v-map :zoom="zoom" :center="center" :tags="tags">
    <v-tilelayer url="http://{s}.tile.osm.org/{z}/{x}/{y}.png"></v-tilelayer>
    <v-marker v-for="tag in tags"
              :key="tag.id"
              v-if="tag.current_position"
              :lat-lng="tag.current_position.coordinates"
              :color="tag.color"
              :icon="getTagIcon(tag)"
              class="marker-class">
    </v-marker>
    <v-marker v-for="tag in sharedTags"
              :key="tag.id"
              v-if="tag.current_position"
              :lat-lng="tag.current_position.coordinates"
              :color="tag.color"
              :icon="getTagIcon(tag)"
              class="map__marker--hover"></v-marker>
  </v-map>
</div>
